# IDEA module/project/workspace files
*.iml
*.ipr
*.iws

# top level IDEA /out and .idea/.gradle at any level
/out/
.idea/
.gradle/

target/
build/
*/*/out/

# packer output artifacts
output-virtualbox-iso/
packer_cache/
*-virtualbox.box
